{% extends "base.html" %}
{% block content %}
{% load static %}
  <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section__title">
                        <h1>Our Story</h1>
                        <span>Hair Studio</span>
                    </div>
                    <div class="about__detail">
                        <div class="about__detail__content">
                            <div class="about__img">
                                <img src="/static/static/img/about-img.jpg" alt="">
                            </div>
                            <div class="about__descripion">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Velit possimus a sint.</p>
                                <p>Obcaecati porro accusamus iusto rem aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Velit possimus a sint.</p>
                                <p>Eligendi nostrum architecto 
                                    quibusdam. Neque odio enim quasi ad culpa similique 
                                    quas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}