   
   {% extends "base.html" %}
   {% block content %}
   {% load static %}
   <!-- bool a visit -->
   <section class="visit" id="visit">

    <!-- <h1 class="heading"> book a visit </h1> -->

        <div class="row">
    
            <form action="">
                <h3>book your first visit today</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Your name">
                </div>
                <div class="inputBox">
                    <input type="email" placeholder="Your e-mail">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="inputBox">
                    <input type="text" placeholder="Message">
                </div>
    
                <input type="submit" value="Send A Message" class="btn">
            </form>
    
            <div class="image">
                <img src="/static/img/contact.png" alt="">
            </div>
            
        </div>

</section>
{% endblock  %}