<footer class="footer" id="contact">
    <div class="footer__list section container grid">
        <div class="footer__data">
            <!-- <img src="assests/img/logo.svg" alt=""> -->
            <h1><a href="#">De Beauty Bar</a></h1>
            <div class="footer__data-social">
                <a href=""><i class='bx bxl-facebook social__icon'></i></a>
                <a href="https://www.instagram.com/debeutybar111?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class='bx bxl-instagram social__icon' ></i></a>
                <a href=""><i class='bx bxl-whatsapp social__icon' ></i></a>
            </div>
        </div>
        <div class="footer__data">
            <h2>Our Address</h2>
            <p>Uday Market<br> Narayangart - Chitwan</p>
        </div>
        <div class="footer__data">
            <h2>Our Hour</h2>
            <p>sunday-friday<br>From 09:00 to 6:00</p>
        </div>
        <div class="footer__data">
            <h2>Contact</h2>
            <p>+977-9767216661</p>
            <p></p>
        </div>
    </div>
    
     <div class="copy">
        <p>created by</p> 
        <span>Phoenix | all rights reserved</span>
    </div>
</footer>
<!-- javascript -->
<script src="static/js/style.js"></script>
</body>

</html>