{% extends "base.html" %} {% block content %} {% load static %}

  <section class="gallery section" id="gallery">
            <div class="gallery__content">
                <div class="row">
                    <div class="section__title">
                        <h1>gallery</h1>
                        <span>The princesses of our instragram</span>
                    </div>
                </div>

                <div class="gallery__list__img row container">
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto1.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto2.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto3.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto4.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto5.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto6.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto7.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="/static/img/img-insta/foto8.png" alt="">
                    </div>
                </div>
                <button class="btn">ver mais</button>
            </div>
        </section>
{% endblock %}
