{% extends "base.html" %}
{% block content %}

    <main>
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="hero__img">
                        <img src="static/img/home-img.png" alt="alt">
                    </div>
                    <div class="hero__content">
                        <h1>Your Great day<br><span>in Grand style</span></h1>
                        <p>Come and meet our little corner of the bride and take the opportunity to schedule your date.</p>
                        <a href="#" class="btn btn__outline"><i class='bx bxl-whatsapp'></i>SCHEDULE YOUR SCHEDULE</a>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section__title">
                        <h1>Our Story</h1>
                        <span>Hair Studio</span>
                    </div>
                    <div class="about__detail">
                        <div class="about__detail__content">
                            <div class="about__img">
                                <img src="static/static/img/about-img.jpg" alt="">
                            </div>
                            <div class="about__descripion">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Velit possimus a sint.</p>
                                <p>Obcaecati porro accusamus iusto rem aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Velit possimus a sint.</p>
                                <p>Eligendi nostrum architecto 
                                    quibusdam. Neque odio enim quasi ad culpa similique 
                                    quas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services section" id="services">
            <div class="services__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Services</h1>
                        <span>What realzias</span>
                    </div>
                </div>
                <div class="services__content__descripion grid container">
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/manicure.png" alt="">
                            <p>manicure</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/pedicure.png" alt="">
                            <p>pedicure</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/maquiagem.png" alt="">
                            <p>Makeup</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/pentado.png" alt="">
                            <p>Hairstyle</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/corte.png" alt="">
                            <p>haircut</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/sobrancelha.png" alt="">
                            <p>Eyebrow Desing</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/depilacao.png" alt="">
                            <p>Waxing</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="static/img/servicos/limpeza.png" alt="">
                            <p>Skin Cleaning</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="package section" id="package">
            <div class="package_-content">
                <div class="row">
                    <div class="section__title">
                        <h1>Promotional packages</h1>
                        <span>For your wedding day</span>
                    </div>
                </div>
                <div class="package__cards row container">
                    <div class="card">
                        <div class="card__title">
                            <h1>Bronze</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(traditional french)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Depilation<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Skin cleansing</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Fruit table</p>
                            </div>
                            <button class="btn">I WANT THAT ONE</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Silver</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(traditional french)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Depilation<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Skin cleansing</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Fruit table</p>
                            </div>
                            <button class="btn">I WANT THAT ONE</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Gold</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(traditional french)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Depilation<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Skin cleansing</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Fruit table</p>
                            </div>
                            <button class="btn">I WANT THAT ONE</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>Diamond</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Hairstyle</p>
                                
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Makeup</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Nails<span>(traditional french)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Depilation<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Eyebrow design</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Skin cleansing</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Reserved bridal room</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Fruit table</p>
                            </div>
                            <button class="btn">I WANT THAT ONE</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="gallery section" id="gallery">
            <div class="gallery__content">
                <div class="row">
                    <div class="section__title">
                        <h1>gallery</h1>
                        <span>The princesses of our instragram</span>
                    </div>
                </div>

                <div class="gallery__list__img row container">
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto1.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto2.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto3.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto4.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto5.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto6.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto7.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="static/img/img-insta/foto8.png" alt="">
                    </div>
                </div>
                <button class="btn">ver mais</button>
            </div>
        </section>
        <!-- bool a visit -->
        <section class="visit" id="visit">

            <!-- <h1 class="heading"> book a visit </h1> -->
        
                <div class="row">
            
                    <form action="">
                        <h3>book your first visit today</h3>
                        <div class="inputBox">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="inputBox">
                            <input type="email" placeholder="Your e-mail">
                        </div>
                        <div class="inputBox">
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="inputBox">
                            <input type="text" placeholder="Message">
                        </div>
            
                        <input type="submit" value="Send A Message" class="btn">
                    </form>
            
                    <div class="image">
                        <img src="/static/img/contact.png" alt="">
                    </div>
                    
                </div>
        
        </section>
            <div class="testimonials__content">
                <div class="row">
                    <div class="section__title">
                        <h1>testimonials</h1>
                        <span>See what our customers have to say</span>
                    </div>
                </div>
                <div class="testimonials__card container grid">
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="static/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Celaena</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="static/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Aelin</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="static/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Luciana</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="static/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Patricia</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
   
    {% endblock  %}