
{% extends "base.html" %}
{% block content %}
{% load static %}
 </section>
        <section class="services section" id="services">
            <div class="services__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Services</h1>
                        <span>What realzias</span>
                    </div>
                </div>
                <div class="services__content__descripion grid container">
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/manicure.png" alt="">
                            <p>manicure</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/pedicure.png" alt="">
                            <p>pedicure</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/maquiagem.png" alt="">
                            <p>Makeup</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/pentado.png" alt="">
                            <p>Hairstyle</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/corte.png" alt="">
                            <p>haircut</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/sobrancelha.png" alt="">
                            <p>Eyebrow Desing</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/depilacao.png" alt="">
                            <p>Waxing</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="/static/img/servicos/limpeza.png" alt="">
                            <p>Skin Cleaning</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock  %}