
{% extends "base.html" %}
{% block content %}
{% load static %}
   </section>
            <div class="testimonials__content">
                <div class="row">
                    <div class="section__title">
                        <h1>testimonials</h1>
                        <span>See what our customers have to say</span>
                    </div>
                </div>
                <div class="testimonials__card container grid">
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/static/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Celaena</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/static/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Aelin</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="static/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Luciana</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="/static/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>Patricia</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quidem quo saepe quibusdam nobis quas minima!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock  %}